---
import ProjectCard from "./ProjectCard.astro";
import { projects } from "./ProjectsData";
interface Props {
  boxStyleClass: string;
}

const { boxStyleClass } = Astro.props;

---

<article
  class=`col-span-1 md:col-span-4 md:col-start-1 shadow-lg rounded-3xl bg-gradient-to-b from-base-100 to-base-200 card hover:shadow-[5px_5px_0px_0px] hover:shadow-primary duration-500`
>
  <ProjectCard {...projects[0]} />
</article>

<article class=`col-span-1 md:col-span-4 md:col-start-5 shadow-lg rounded-3xl bg-gradient-to-b from-base-100 to-base-200 card hover:shadow-[5px_5px_0px_0px] hover:shadow-info duration-500`>
  <ProjectCard {...projects[1]} />
</article>

<article class=`col-span-1 md:col-span-4 md:col-start-9 shadow-lg rounded-3xl bg-gradient-to-b from-base-100 to-base-200 card hover:shadow-[5px_5px_0px_0px] hover:shadow-primary duration-500`>
  <ProjectCard {...projects[2]} />
</article>

<!-- <section
  class="col-span-1 md:col-span-12 flex flex-col p-8 items-center justify-center -inset-1"
>
  <a
    class="mt-1 btn btn-xl bg-gradient-to-r from-accent to-info text-black text-lg font-bold rounded-full hover:animate-bounce hover:cursor-pointer duration-300"
  >
    Mostrar más
  </a>
</section> -->
