---
import { TimeLineProps } from "./TimeLineData";
---

<div>
  {
    TimeLineProps.map((modal) => (
      <dialog id={modal.id} class="modal">
        <div class="modal-box bg-base-200">
          <h3 class="font-bold text-xl text-center">{modal.title}</h3>
          <p class="py-4 text-center">{modal.description}</p>

          <div class="modal-action">
            <form method="dialog">
              <button class="btn btn-info" tabindex="0">
                Cerrar
              </button>
            </form>
          </div>
        </div>
      </dialog>
    ))
  }
</div>
