---
import BentoGrid from "../components/BentoGrid.astro";
import WorkingAsModal from "../components/sections/WorkingAsModal.astro";
import TimeLineModals from "../components/timelines/TimeLineModals.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portfolio de Adrián Colom Palacios">
  <WorkingAsModal />
  <TimeLineModals/>

  <div class="bg-gradient-to-r dark:from-black dark:via-neutral-900 dark:to-black from-stone-200 via-stone-300 to-stone-200">
    <BentoGrid />
  </div>

</Layout>
