---
import LinkedinIcon from "./icons/LinkedinIcon.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import DownloadFileIcon from "./icons/DownloadFileIcon.astro";

const url = {
  github: "https://github.com/colom-palacios",
  linkedin: "https://www.linkedin.com/in/adrian-colom-palacios/",
  cv: "",
};
---

<div class="indicator mx-24">
  <div class="indicator-item">
    <span class="relative flex h-5 w-5">
      <span
        class="animate-[ping_3s_infinite] ease-out absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75"
      ></span>
      <span class="relative inline-flex rounded-full h-5 w-5 bg-green-500"
      ></span>
    </span>
  </div>
  <img
    src="https://media.licdn.com/dms/image/D4D03AQFLlS45fTapug/profile-displayphoto-shrink_200_200/0/1715799113039?e=2147483647&v=beta&t=uu5H3w69SMeZlTqzK2SNJlUzqzFxONWT8q80BpfFzu4"
    alt="Foto de perfil"
    class="w-32 h-32 md:w-48 md:h-auto object-cover mask mask-squircle mb-4 md:mb-0"
  />
</div>

<div class="md:ml-4 text-center md:text-left">
  <h1 class="text-3xl font-bold mb-2 dark:text-gray-100">Adrián Colom Palacios</h1>
  <div class="text-1xl font-extrabold">
    <span
      class="bg-clip-text text-transparent bg-gradient-to-r from-accent to-info"
    >
      Adaptabilidad | Comunicación | Trabajo en Equipo | Dedicación
    </span>
  </div>
  <div>
    <p class="mt-2">
      En búsqueda de oportunidades para crecer y mejorar como profesional.
    </p>
    <p>
      Estudiante de IA y big data, trabajador backend con conocimientos
      frontend y competidor en el mundo de la programación.
    </p>
  </div>

  <div class="flex justify-center md:justify-start mt-2 gap-2 ml-2 items-center">
    <a
      class="mt-1 btn btn-sm bg-gradient-to-r from-accent to-info text-black font-bold rounded-full hover:scale-110 duration-200"
      href={url.cv}
    >
      C.V
      <DownloadFileIcon />
    </a>
    <a href={url.linkedin} target="_blank" rel="noopener noreferrer" class="mt-1">
      <LinkedinIcon />
    </a>
    <a href={url.github} target="_blank" rel="noopener noreferrer" class="mt-1">
      <GithubIcon />
    </a>
  </div>
</div>
