  <ul class="timeline timeline-vertical md:timeline-horizontal flex-wrap">
    <li>
      <div class="timeline-start">2023</div>
      <div class="timeline-middle animate-[pulse_3.5s_ease-in-out_infinite]">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-5 h-5 text-primary"
        >
          <path
            fill-rule="evenodd"
            d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 6a.75.75 0 0 0-1.5 0v6c0 .414.336.75.75.75h4.5a.75.75 0 0 0 0-1.5h-3.75V6Z"
            clip-rule="evenodd"></path>
        </svg>
      </div>
      <div
        class="timeline-end timeline-box hover:text-primary hover:scale-110 duration-300"
      >
        First Macintosh computer
        <img
          src="https://image.shutterstock.com/image-vector/sample-stamp-rubber-style-red-260nw-1811246308.jpg"
          alt=""
          class="w-16 h-16 rounded-full"
        />
      </div>
      <hr class="bg-primary animate-[pulse_3.5s_ease-in-out_infinite]" />
    </li>
    <li>
      <hr class="bg-accent" />
      <div class="timeline-start">2015</div>
      <div class="timeline-middle relative flex">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-5 h-5 text-info"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd"></path>
          <span
            class="animate-[ping_3s_infinite] absolute inline-flex h-full w-full rounded-full bg-info opacity-75"
          ></span>
        </svg>
      </div>
      <div
        class="timeline-end hover:scale-110 duration-300 hover:text-info timeline-box"
      >
        iMac
      </div>
      <hr class="bg-accent" />
    </li>
    <li>
      <hr class="bg-accent" />
      <div class="timeline-start">2007</div>
      <div class="timeline-middle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-5 h-5 text-info"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd"></path>
        </svg>
      </div>
      <div
        class="timeline-end hover:scale-110 duration-300 hover:text-info timeline-box"
      >
        iMac
      </div>
      <hr class="bg-accent" />
    </li>
    <li>
      <hr class="bg-accent" />
      <div class="timeline-start">2001</div>
      <div class="timeline-middle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-5 h-5 text-info"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd"></path>
        </svg>
      </div>
      <div
        class="timeline-end hover:scale-110 duration-300 hover:text-info timeline-box"
      >
        iPod
      </div>
      <hr class="bg-accent" />
    </li>
    <li>
      <hr class="bg-accent" />
      <div class="timeline-start">1998</div>
      <div class="timeline-middle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-5 h-5 text-info"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd"></path>
        </svg>
      </div>
      <div
        class="timeline-end hover:scale-110 duration-300 hover:text-info timeline-box"
      >
        iPhone
      </div>
      <hr class="bg-accent" />
    </li>
    <li>
      <hr class="bg-accent" />
      <div class="timeline-start">1984</div>
      <div class="timeline-middle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-5 h-5 text-info"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd"></path>
        </svg>
      </div>
      <div
        class="timeline-end hover:scale-110 duration-300 hover:text-info timeline-box"
      >
        Apple Watch
      </div>
    </li>
  </ul>
