<div
  class="md:text-3xl text-2xl font-extrabold text-center md:text-left"
  onclick="workingAsModal.showModal()"
>
  <div class="indicator md:w-min w-max">
    <h1 class="text-center group transition-all duration-300 ease-in-out bg-clip-text text-transparent bg-gradient-to-r from-accent to-info">
      <span
        class="hover:cursor-pointer
        bg-left-bottom bg-gradient-to-r from-info to-accent bg-[length:0%_3px] bg-no-repeat group-hover:bg-[length:100%_3px] transition-all duration-500 ease-out"
      >
        Trabajando como Backend Developer
      </span>
    </h1>
    <span class="indicator-item text-info">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="w-7 h-7"
      >
        <path
          fill-rule="evenodd"
          d="M15.75 2.25H21a.75.75 0 0 1 .75.75v5.25a.75.75 0 0 1-1.5 0V4.81L8.03 17.03a.75.75 0 0 1-1.06-1.06L19.19 3.75h-3.44a.75.75 0 0 1 0-1.5Zm-10.5 4.5a1.5 1.5 0 0 0-1.5 1.5v10.5a1.5 1.5 0 0 0 1.5 1.5h10.5a1.5 1.5 0 0 0 1.5-1.5V10.5a.75.75 0 0 1 1.5 0v8.25a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V8.25a3 3 0 0 1 3-3h8.25a.75.75 0 0 1 0 1.5H5.25Z"
          clip-rule="evenodd"></path>
      </svg>
    </span>
  </div>
</div>
